<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.macore">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="macore.router.WideRouterConnectService"
            android:exported="true"
            android:process="com.macore" />
    </application>

</manifest>
